@model jfrost_bugtracker.Models.TicketComments

@{
    ViewBag.Title = "DeleteTicketComments";
}

<h2>Delete Ticket Comment</h2>

<div>
    <h4>Comment</h4>
    <h3>Are you sure you want to delete this?</h3>
    <hr />

    <div class="media-body">
        <h4 class="media-heading">
            Comment:
            <small>added @Model.Created</small>
        </h4>
        <p>@Model.Comment</p>

    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TicketId)




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>